# .NET
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.vsidx
*.vspscc
*.vsscc

# NuGet
packages/
*.nupkg

# User-specific files
*.rsuser
*.suo
*.user

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Rider
.idea/

# VS Code
.vscode/